
ergonsideration.egg-info/dependency_links.txt
ergonsideration.egg-info/PKG-INFO
ergonsideration.egg-info/requires.txt
ergonsideration.egg-info/SOURCES.txt
ergonsideration.egg-info/top_level.txt
ergonsideration/__pycache__/__init__.cpython-310.pyc
*.pyc

ergonsideration/build/*
ergonsideration/build
ergonsideration/dist/*
ergonsideration/dist
ergonsideration/interface.spec
ergonsideration/log.txt
